doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Connect Four')
    title Connect Four

    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

    // build:css styles/main.min.css
    link(rel='stylesheet', href='css/main.css')
    // endbuild

  body

    header
      h1 Connect Four

    #connect-four.container

      each row in [0,1,2,3,4,5]
        .c4-row.row
          each column in [0,1,2,3,4,5,6]
            .tile.col-xs-4(id = "#{row*7 + column}")

      .row
        #spinner.col-xs-3
        #players.col-xs-6
          .btn-group.dropup
            button#btn-player-x.button.btn.dropdown-toggle.btn-success(data-toggle='dropdown')
              | human
            ul.dropdown-menu
              li: a.player(data-player-for='x') human
              li: a.player(data-player-for='x') computer
          | &nbsp;vs&nbsp;
          .btn-group.dropup
            button#btn-player-o.button.btn.dropdown-toggle.btn-danger(data-toggle='dropdown')
              | computer
            ul.dropdown-menu
              li: a.player(data-player-for='o') human
              li: a.player(data-player-for='o') computer
        #commands.col-xs-3
          #btn-new-game.button.btn.btn-default New game

      .row
        #credit.col-xs-12
          | By 
          a(href='https://github.com/jordao76') Jordão
          | . Check it out on 
          a(href='https://github.com/jordao76/connect-four') GitHub
          | .

    #modal-game-over.modal
      .modal-dialog
        .modal-content
          #modal.modal-header
            h2#end-text.modal-title

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/spin.js/spin.min.js')
    script(type='text/javascript', src='src/main.min.js')
